@CHARSET "ISO-8859-1";
body {
	overflow: hidden;
	width: 100%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.wrapper { overflow: hidden; width: inherit; }
#banner {
	display: block;
	width: 100%;
	height: 82px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.margin {
	margin-left: 10px;
	margin-right: 10px;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.progressbar {
	border-radius: 30px;
	width: 100%;
	height: 55px;
	overflow: hidden;
	background: url(images/progress_bg.png);
    background-repeat:no-repeat;
    background-size: 100% 55px; 
}

.fontclass1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #BBBBBB;
	text-shadow: 2px 2px #333333;
}

.fontclass2 {
	font-family: sans-serif;
	color: #444444;
}

.fontclass3 {
	font-family: sans-serif;
	color: white;
}

.fontclass4 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #EEEEEE;
	text-shadow: 2px 2px #333333;
}

.fontclass5 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #88FF88;
}

.fontclass6 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #FF8888;
}

textarea:focus, input:focus{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
    -webkit-user-modify: read-write-plaintext-only;
    display: inline-block;
}
.tile {
	vertical-align: top;
}
.tile div img {
	margin-bottom:-3px;
	width: 98%;
}

.ui-page {
    background: url(images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover; 
}

.fadein {
	opacity: 0;
	-webkit-animation : fadeinanim 0.35s;
	-webkit-animation-fill-mode: both;
}

.fadeinfast {
	opacity: 0;
	-webkit-animation : fadeinanim 0.15s;
	-webkit-animation-fill-mode: both;
}

.homebase {
	background: rgba(0, 255, 0, 0.1);
}

.battlezone {
	background: rgba(128, 128, 128, 0.1);
}

@-webkit-keyframes fadeinanim
{
	0%		{opacity:0;}
    100%	{opacity:1;}
}

