@CHARSET "ISO-8859-1";
#banner {
	display: block;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.fontclass1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #BBBBBB;
	text-shadow: 2px 2px #333333;
}

.fontclass2 {
	font-family: sans-serif;
	color: #444444;
}

.fontclass3 {
	font-family: sans-serif;
	color: white;
}

.fontclass4 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #EEEEEE;
	text-shadow: 2px 2px #333333;
}


textarea:focus, input:focus{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
    -webkit-user-modify: read-write-plaintext-only;
}

.ui-page {
    background: url(images/background.png);
    background-repeat:no-repeat;
    background-size: cover; 
}

.fadein {
	opacity: 0;
	-webkit-animation : fadeinanim 0.75s;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeinanim
{
	0%		{opacity:0;}
    100%	{opacity:1;}
}

